{{#each this}}
<div class="country">
    <div class="country-content">
        <img src={{flag}} alt={{name}} class="country-image" width="200">
    </div>
    <div class="country-body">
        <h2 class="country-title">
            Country: {{name}}
        </h2>
        <p class="country-text">
            Capital: {{capital}} 
        </p>
        <p class="country-text">
            Population: {{population}}  
        </p>
        <ul class="country-text">
            Languages:
            {{#each languages}}
            <li class="country-languages">{{name}}, {{nativeName}}</li>
            {{/each}}
        </ul>
    </div>
</div>
{{/each}}